@import "tailwindcss";

@plugin "daisyui" {
    themes: light --default;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    width: 100%;
    flex-grow: 1;
}

.containerr {
    max-width: 1440px;
    margin: auto;
}

.containerr2 {
    max-width: 1920px;
    margin: auto;
}